<h1>Chat Room</h1>

<form>
  <input type="text" id="chat-input" class="form-control" />
  <button id="button">送信</button>
</form>

<div id="messages">
  <% @messages.each do |message| %>
    <p><%= message.content %></p>
  <% end %>
</div>